
.ant-targets-build.xml
.idea/.name
.idea/ant.xml
.idea/artifacts/
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
GSON.iml
bin/

build/
dist/
libs/
old.txt
out/*

